*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: freight-sans-pro, sans-serif;
}

.Header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 90px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 100;
    margin: 0 auto;
}

.Header img{
    margin-left: 50px;
    width: auto;
    height: 50px;
    object-fit: cover;
    margin-top: 23px;
}
.Header a{
    text-decoration: none;
    color: #2337B8;
}
.button{
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px 8px;
    margin-right: 50px;
   border: 1px solid #2337B8;
   border-radius: 5px;
   color: #2337B8;
}

/* .bank button{
padding: 15px;
width: 13%;
height: 53px;
background-color: #2337B8;
border: 1px solid #2337B8;
color: #F8F8F8;
font-size: 20px;
margin-top: 20px;
border-radius: 5px;
} */

.Banner h1{
    max-width: 400px;
    width: 100%;
    display: block;
    padding-top: 190px;
    padding-left: 50px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #121212;
    font-size: 2.5em;
}
.Banner p{
    max-width: 400px;
    padding-left: 50px;
    padding-top: 10px;

}
input{
    width: 25%;
    margin: 20px;
    margin-right: 0;
    padding: 18px;
    border-radius: 5px;
    background: white;
    border: 1px solid #2337B8;
    color: #121212;
}
.Banner img{
    width: 400px;
    height: 295px;
    object-fit: cover;
    margin-top: 60px;
    justify-content: center;
    background-color: white;
    margin-bottom: 40px;
}






/*--- meaia---- */



@media(max-width: 414px){
    .Header{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        height: 90px;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 100;
        margin: 0 auto;
    }

    .Header img{
        margin-left: 20px;
        width: auto;
        height: 45px;
        object-fit: cover;
        margin-top: 23px;

        
    }
    .Header a{
        text-decoration: none;
        color: #2337B8;
    }
    .button{
        margin-bottom: 25px;
        margin-top: 25px;
        padding: 10px 8px;
        margin-right: 15px;
       border: 1px solid #2337B8;
       border-radius: 5px;
       color: #2337B8;
    }
    .bank{
        display: flex;
    }


    .bank button{
    padding: 15px;
    width: 13%;
    height: 53px;
    background-color: #2337B8;
    border: 1px solid #2337B8;
    color: #F8F8F8;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
    }



    .Banner h1{
        max-width: 350px;
        width: 100%;
        display: block;
        padding-top: 190px;
        padding-left: 20px;
        margin-bottom: 30px;
        font-weight: 600;
        color: #121212;
        font-size: 2.5em;
    }
    .Banner p{
        max-width: 250px;
        padding-left: 20px;
        padding-top: 10px;

    }
    input{
        width: 65%;
        margin: 20px;
        margin-right: 0;
        padding: 18px;
        border-radius: 5px;
        background: white;
        border: 1px solid #2337B8;
        color: #121212;
    }
    .Banner img{
        width: 400px;
        height: 295px;
        object-fit: cover;
        margin-top: 60px;
        justify-content: center;
        background-color: white;
        margin-bottom: 40px;
    }


    /* Features */

    .btn2,.btn3,.btn4{
        box-sizing: border-box;
        font-family: freight-sans-pro, sans-serif;
        padding: 10px 15px;
        border-radius: 50px;
        font-weight: 600;
        margin-left: 20px;
    }
    .btn2{
        color: #2337B8;
        background-color: #F0F2FF;
    }
    .btn3{
        color: #BA4238;
        background-color: #FBE8E1;
    }
    .btn4{
        color: #642D92;
        background-color: #E8DFEF;
    }
    .Integration h1,.Bills h1,.Share h1{
        font-weight: 400;
        margin-top: 20px;
        width: 100%;
        margin-left: 20px;
        max-width: 320px;
        font-size: 2em;
        margin-bottom: 20px;
    }
    .Integration p,.Bills p,.Share p{
        width: 100%;
        max-width: 380px;
        margin-left: 20px;
        font-size: 1.1em;
        font-family: freight-sans-pro, sans-serif;
    }
    .Integration img,.Bills img,.Share img{
        width: 400px;
        height: auto;
        object-fit: cover;
        margin-top: 60px;
        justify-content: center;
        background-color: white;
        margin-bottom: 50px;
    }

    /* Downloads */

    .Downloads h1{
        font-weight: 400;
        font-size: 2em;
        margin-bottom: 50px;
        width: 100%;
        text-align: center;
    }

    .Store{
        margin-left: auto;
        margin-right: auto;
        max-width: 325px;
        display: flex;
        justify-content: space-between;
        height: 45px;
    }
    .Newsletter p{
        padding-top: 24px;
        font-size: 1.1em;
        color: #64605F;
        line-height: 1.5em;
        text-align: center;
        padding-bottom: 18px;
    }
    .Newsletter button{
        padding: 15px;
        width: 13%;
        height: 53px;
        background-color: #2337B8;
        border: 1px solid #2337B8;
        color: #F8F8F8;
        font-size: 20px;
        margin-top: 20px;
        border-radius: 5px;
        }


    /* Newsletter */


    .letter{
        height: 770px;
        background-color: #F0F2FF;
        margin-top: 55px;
    }
    .letter h1{
        font-weight: 400;
        font-size: 2em;
        padding-top: 50px;
        padding-bottom: 90px;
        text-align: center;
    }
    .pic,.peak{
        background-color: white;
        padding-bottom: 25px;
        padding-top: 40px;
        margin: 20px; 
        position: relative;
    }
    .peak h3{
        text-align: center;
        font-weight: 400;
        font-size: 1.5em;
        padding-bottom: 20px;
    }
    .peak p{
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.9em;
        color: #64605F;
        text-align: center;
    }

    .peak img{
        height: 100px;
        border-radius: 50px;
        width: 100px;
        left: 35%;
        top: -110px;
        object-fit: cover;
        position: absolute;
    }

    .pay h1{
        text-align: center;
        max-width: 400px;
        font-size: 1.8em;
        font-weight: 400;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .picsection img{
        height: 50px;
    }
    .picsection{
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        padding: 5px;
    }

    .picsector img{
        height: 50px;
    }
    .picsector{
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        padding: 5px;
    }

    .early h1{
        text-align: center;
        font-size: 2em;
        font-weight: 400;
        margin-top: 100px;
        margin-bottom: 90px;
        color: #121212;
    }


    .earlyaccess{
        height: 420px;
        background-color: #F8F9FF;
        margin: 20px;
    }
    .earlyaccess img{
        padding-top: 40px;
        padding-left: 30px;
    }
    .earlyaccess h3{
        padding-left: 25px;
        padding-top: 14px;
    }
    .earlyaccess p{
        max-width: 300px;
        margin-left: 25px;
        line-height: 1.7em;
        font-size: 1.1em;
        padding-top: 14px;
        padding-bottom: 40px;
        color: #64605F;
    }
    .earlyaccess a{
        text-decoration: none;
        padding-left: 25px;
        color: #2337B8;
        font-weight: 500;
    }

    .footer{
        background-color: #F5F6FC;
        height: 210px;
        margin-top: 40px;
    }
    .footlogo img{
        color: black;
        height: 40px;
        padding-left: 149px;
        margin-top: 30px;
        margin-bottom: 25px;
    }


    .list ul{
        display: flex;
        text-decoration: none;
        list-style-type: none;
        justify-content: space-between;
        margin: 20px;
        margin-top: 0px;
    }
    .copyright{
        text-align: center;
        margin-top: 40px;
    }

    
}





/* ----Destop Version--- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: freight-sans-pro, sans-serif;
}
.Header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 90px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 100;
    margin: 0 auto;
}
.Header img{
    margin-left: 50px;
    width: auto;
    height: 50px;
    object-fit: cover;
    margin-top: 23px;
}
.Header a{
    text-decoration: none;
    color: #2337B8;
}
.button{
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px 8px;
    margin-right: 50px;
   border: 1px solid #2337B8;
   border-radius: 5px;
   color: #2337B8;
}

/* .bank button{
padding: 15px;
width: 13%;
height: 53px;
background-color: #2337B8;
border: 1px solid #2337B8;
color: #F8F8F8;
font-size: 20px;
margin-top: 20px;
border-radius: 5px;
} */

.Banner h1{
    max-width: 400px;
    width: 100%;
    display: block;
    padding-top: 190px;
    padding-left: 50px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #121212;
    font-size: 2.5em;
}
.Banner p{
    max-width: 400px;
    padding-left: 50px;
    padding-top: 10px;

}
input{
    width: 25%;
    margin: 20px;
    margin-right: 0;
    padding: 18px;
    border-radius: 5px;
    background: white;
    border: 1px solid #2337B8;
    color: #121212;
}
.Banner img{
    width: 400px;
    height: 295px;
    object-fit: cover;
    margin-top: 60px;
    justify-content: center;
    background-color: white;
    margin-bottom: 40px;
}
